@import "{}/imports/ui/scss/sprites";



.field_border{
	border:1px solid black;
	background-image:url(wood.jpg);
	z-index:2;
	-moz-border-radius:8px;	
	border-radius:8px;
	align:center;
	margin: 0 auto;
	
	width: 800px;
	height: 500px;

}
.field{
	width: 94%;
	height: 94%;
	top: 3%;
	margin: 0 auto;
	position: relative;
	border:1px solid black;
	background: lightyellow;
	

}

@include divide_sprite_map('good_guys', 'sprites_by_demonhuntrpg_transparent.png', 32px, 32px, 4 , 2 , 3)
@include divide_sprite_map('mario', 'mario_sprite.png', 28px, 40px, 2 , 1 , 3)
@include divide_sprite_map('super_girl', 'sprite_by_tariyoe.png', 123px, 123px, 1 , 1 , 8)
